.app {
    text-align: left;
    font-family: Roboto;
}

.clear {
    margin-top: 20px;
    background-color: rgb(216, 216, 216);
    padding: 8px;
    border-radius: 50px;
    font-weight: 400;
    color: black;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.clear:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.file-details {
    width: 250px;
    height: 200px;
}

.file-details h3 {
    margin-bottom: 5px;
    font-weight: 500;
}

.file-details h4 {
    margin: 7px 0px 7px 0px;
    font-weight: 300;
}

.file-details h4 span {
    color: black;
}

.file-picker {
    font-family: 'Helvetica';
    margin: 20px;
    min-width: 250px;
    text-align: center;
    background-color: white;
    min-height: 80px;
}

.file-picker .input-button {
    border-radius: 5px;
    border: 1px dashed #d9d9d9;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 340px;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out;
}

.file-picker .input-button:hover {
    border-color: #72bbffef;
    transition: border-color 0.15s ease-in-out;
}

.file-picker .row-filename {
    font-size: 17px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    float: left;
    width: 100%;
}

.file-picker .fileName {
    padding: 7px;
}

.file-picker .icon {
    padding: 7px 5px 0px 7px;
    cursor: pointer;
    font-size: 14px;
    width: 25px;
    height: 25px;
    color: #cacaca;
}

.file-picker .row-filename-empty {
    /* background-color: green;   */
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(54, 54, 54);
}

.react-datepicker__input-container input {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 18px;
    position: unset;
}

.react-datepicker__input-container {
    position: unset;
}

/* .react-datepicker-wrapper {
    z-index: -1;
} */
