@tailwind base;

@tailwind components;

.btn {
    @apply my-4 px-4 py-2 border-2 text-sm cursor-pointer;
}

.btn-blue {
    @apply border-blue-500 text-blue-500;
}
.btn-blue:hover {
    @apply bg-blue-500 text-white;
}

.alert {
    @apply flex flex-col justify-center items-center absolute inset-0 bg-gray-200 m-8;
}

.modal {
    @apply absolute inset-0 bg-gray-200 m-8;
}

.overlay {
    @apply fixed inset-0;
    background-color: rgba(255, 255, 255, 0.9);
}

.tooltip .tooltip-text {
    @apply invisible text-center p-2 absolute z-50;
}

.tooltip:hover .tooltip-text {
    @apply visible;
}

@tailwind utilities;
